
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="entrance">
    <label for="nick">Enter your nickname:</label>
    <input type="text" id="nick" />
    <button onclick="continueToChat()">Continue</button>
</div>
<div id="chat" style="display: none">
    <h3 id="spn-nick"></h3>
    <form id="frm-send-message" action="#">
        <label for="message">Message:</label>
        <input type="text" id="message" />
        <input type="submit" id="send" value="Send" class="send" />
    </form>
    <div class="clear">
    </div>
    <ul id="messages"></ul>
</div>



